<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- css -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- <link rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" /> -->
<!-- <link href="css/bootstrap.min.css" rel="stylesheet" /> -->

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<body>
<div id="wrapper" class="home-page">
	<!-- start header -->
	<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
										<span class="icon-bar page_header">Rccg King of Glory Parish</span>
                    <a class="navbar-brand" href="/"><img src="/images/rcg.png" style="width:70px; height:70px; border-radius:50%; margin-top:-20px;"></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a class="waves-effect waves-dark" href="/">Home</a></li>

												<li><a class="waves-effect waves-dark" href="/news">Testimonies</a></li>
                        <li><a class="waves-effect waves-dark" href="/images">Gallery</a></li>
                        <li><a class="waves-effect waves-dark" href="/posts">Blog</a></li>
                        <li><a class="waves-effect waves-dark" href="/pages/filter/contact">Contact</a></li>
                        <li><a class="waves-effect waves-dark" href="/pages/filter/about">about</a></li>
												<li class="dropdown">
													<a href="#" data-toggle="dropdown" class="dropdown-toggle waves-effect waves-dark">Account<b class="caret"></b></a>
													<ul class="dropdown-menu">
														<% unless current_user && user_signed_in? %>
          										<li><a class="waves-effect waves-dark"  href="/sign_up">Sign Up</a></li>
          										<li><a class="waves-effect waves-dark"  href="/login">Sign In</a></li>
        										<% end %>
        										<% if current_user && user_signed_in? %>
          										<li><a class="waves-effect waves-dark"  href="/logout">Log Out</a></li>
          										<li><a class="waves-effect waves-dark"  href="/edit">Edit account</a></li>
        										<% end %>
													</ul>
											</li>
                    </ul>

                </div>
            </div>
        </div>
	</header>
	<!-- end header -->
